/* line 4, app/assets/stylesheets/theme.css.scss */
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}

/* line 9, app/assets/stylesheets/theme.css.scss */
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

/* line 12, app/assets/stylesheets/theme.css.scss */
.jumbotron .btn-primary:hover {
  background: #7646c1;
}

/* line 17, app/assets/stylesheets/theme.css.scss */
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

/* line 23, app/assets/stylesheets/theme.css.scss */
.navbar + .jumbotron {
  margin-top: -20px;
}

/* line 27, app/assets/stylesheets/theme.css.scss */
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}

/* line 36, app/assets/stylesheets/theme.css.scss */
.jumbotron .lang-logo img {
  max-width: 100%;
}
